body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #666;
}

a {
	text-decoration: none;
	color: #8AA7DE;
}

/* Start of photos stuff */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar */
html { 
	overflow-y: scroll;
	padding-bottom: 20px;
}

/* Initially hide until page is loaded */
#main {

}

#login {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

#login a {
	cursor: help;
}

.title {
	background-color: #9f62bd;
	color: rgba(255, 255, 255, 0.5);
	padding: 20px 20px;
	text-align: center;
}

.title a.main {
	font-weight: 600;
	font-size: 3em;
	color: #fff;
}

.title a.main:hover {
	color: #ccffcc;
	text-shadow: 0 0 10px #ccffcc;
}

.title a:not(.main) {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: underline;
}

.title .timer {
	overflow: hidden;
	position: absolute;
	float: right;
	right: 20px;
	top: -20px;
	height: 100%;
	vertical-align: middle;
	text-align: right;
}

#dreamphoto {
	height: 80vh;
	width: auto;
}

.heading {
	text-align: center;
	font-size: 2em;
	margin: 10px 0 ;
	padding-top: 20px;
	line-height: 2em;
}

/* Photos stuff */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  position: relative;
  float: left;
  background: none;
  padding: 12px 12px 0 0;
}

#profilepictures:first-child, #coverphotos:nth-child(even) {
	padding-left: 12px;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item--cover { 
	width: 49.9%;
	margin: 0 auto;
}

.grid-item .paddedcontainer {
	width: 100%;
	position: relative;
}

.grid-item .caption {
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.75);
	z-index: 5;
	bottom: 0px;
	border: 2px rgba(0, 0, 0, 0) solid;
}

.grid-item .caption:not(:first-child) {
	left: 6px;
}

.grid-item .progressbar {
	position: absolute;
	height: 6px;
	width: 0%;
	text-align: center;
	background-color: #93C82F;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.25em;
	z-index: 4;
	border: 2px rgba(0, 0, 0, 0) solid;
}

.grid-item .caption a {
	color: #fff;
	cursor: pointer;
}

/* End of photos stuff */

/* Animations */
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.animate-show {
	transition: 2s ease-out all;
	opacity: 1;
}

.ng-hide {
	transition: 0s all;
	opacity: 0;
}

@media only screen and (max-width: 768px)
{
	.grid-sizer,
	.grid-item {
		/*display: block;*/
	  	width: 50%;
	}

	.grid-item--cover { 
		width: 100%;
		margin: 0 auto;
	}	


	.grid-item .caption {
		font-size: 1em;
	}


	.grid-item .progressbar {
		font-size: 1em;
	}
}