body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #666;
}

a {
	text-decoration: none;
	color: #8AA7DE;
}

/* Start of photos stuff */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

/* Initially hide until page is loaded */
#main {

}

#login {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

#login a {
	cursor: help;
}

.title {
	background-color: #9F62BD;
	color: rgba(255, 255, 255, 0.5);
	padding: 20px 20px;
	text-align: center;
}

.title a.main {
	font-weight: 600;
	font-size: 3em;
	color: #fff;
}

.title a.main:hover {
	color: #ccffcc;
	text-shadow: 0 0 10px #ccffcc;
}

.title a:not(.main) {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: underline;
}

#dreamphoto {
	height: 80vh;
	width: auto;
}

.heading {
	text-align: center;
	font-size: 2em;
	margin: 10px 0 ;
	padding-top: 20px;
	line-height: 2em;
}


/* Photos stuff */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  position: relative;
  float: left;
  background: none;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item--cover { 
	width: 50%;
}

.grid-item .caption {
	width: 100%;
	position: absolute;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5em;
	z-index: 5;
	bottom: 0;
	padding: 6px;
	border: 2px rgba(0, 0, 0, 0) solid;
}

.grid-item .progressbar {
	width: 0%;
	position: absolute;
	text-align: center;
	background-color: rgba(50, 255, 50, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5em;
	z-index: 4;
	bottom: 0;
	padding: 6px;
	border-radius: 6px;
	border: 2px rgba(0, 0, 0, 0) solid;
}

.grid-item .caption a {
	color: #fff;
	cursor: pointer;
}

/* End of photos stuff */

/* Animations */
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.animate-show {
	transition: 2s ease-out all;
	opacity: 1;
}

.ng-hide {
	transition: 0s all;
	opacity: 0;
}