<!DOCTYPE html>
<html ng-app="dreambook">
<head>

<meta charset="UTF-8">
<title>dreambook</title>
<meta name="author" content="Matt Favero, Richard Higgens, Shariq Hashme">
<meta name="description" content="Deep Dream for your Facebook profile picture.">
<link rel="stylesheet" href="css/style.css" type="text/css">

<script src="js/angular/angular.min.js"></script>
<script src="js/angular-animate/angular-animate.min.js"></script>
<script src="js/app.js"></script>
<script>
	var checkLoginState = function () {
		angular.element(document.getElementById('controller')).scope().checkLoginState();
	}
</script>

</head>

<body id="controller" ng-controller="DreamController as dream">
<div id="fb-root"></div>

<div class="title">dreambook</div>


<div class="container animate-show" ng-cloak ng-show="step == 0">
	<div class="heading">Loading...</div>
</div>

<div id='login' class="container animate-show" ng-cloak ng-show="step == 1">
	<div class="heading">Log in with Facebook to get started</div>
	<div class="fb-login-button" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState();"></div>
</div>

<div id="photo" class="container animate-show" ng-cloak ng-show="step == 2">
	<div class="heading">Choose a photo to dream about</div>

	<div class="grid">
		<div id="profile" class="box two profile selectable" ng-click="selectPhoto(profile)">
			<div class="caption">
				Profile
			</div>
		</div>
		<div id="cover" class="box two cover selectable" ng-click="selectPhoto(cover)">
			<div class="caption">
				Cover
			</div>
		</div>
	</div>
</div>

<div id="style" class="container animate-show" ng-cloak ng-show="step == 3">
	<div class="heading">Selected photo:</div>
	<div class="grid">
		<a href="">
			<div class="box one" style="background-image: url('{{ photo }}');" ng-click='back()'>
			</div>
		</a>
	</div>

	<div class="heading">Now choose a type of dream</div>

	<div class="grid">
		<div class="box three selectable" ng-click="dream(1)">
			<div class="caption">
				Edges
			</div>
		</div>
		<div class="box three selectable" ng-click="dream(4)">
			<div class="caption">
					Floral
			</div>
		</div>
		<div class="box three selectable" ng-click="dream(7)">
			<div class="caption">
					Animal
			</div>
		</div>
	</div>
</div>

<div id="dream" class="container animate-show" ng-cloak ng-show="step == 4">
	<div class="heading" ng-hide="dreamComplete">Dreaming...</div>
	<div class="grid">
		<img id="dreamphoto" src="{{ dreamPhoto }}" width="80%">
	</div>
	<div class="heading" ng-show="dreamComplete">DONE</div>
</div>

<!--
<div class="footer">
	Click <a href="">here</a> to wake up
</div>
-->

</body>
</html>